* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



:root {
  --maincolor1: #ff5722;
  --maincolor2: #009688;
  --maincolor3: #607d8b;
  --maincolor4: #000000;
}

.T1 {
  width: 150px;
  margin: 40px auto;
  font-size: 40px;
  font-weight: bold;
  background-color: var(--maincolor1);
  color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.T1::before,
.T1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--maincolor1);
  z-index: -1;
}

.T1::before {
  transform: skew(10deg, 10deg);
}
.T1::after {
  transform: skew(-10deg, -10deg);
}
.T2 {
  width: 150px;
  margin: 40px auto;
  font-size: 40px;
  font-weight: bold;
  background-color: var(--maincolor2);
  color: white;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.T2::before {
  content: "";
  background: var(--maincolor2);
  width: 15%;
  height: 100%;
  position: absolute;
  left: -55px;
  top: 0;
  transform: skew(20deg);
}
.T2::after {
  content: "";
  background: var(--maincolor2);
  width: 100%;
  height: 100%;
  position: absolute;
  transform: skew(20deg);
  left: -25px;
  z-index: -1;
}

/*               Takleaf 3            
.class {
  matrix(3, 0.2679, 0, 3, 20, 100);
  scalex(3)
  skewy(0.2679)
  skewy(0)
  scaley(3)
  trnslatex(20)
  trnslatey(100)
}*/
.T {
  width: 100%;
  height: 825px;
  background-color: #eee;
  position: relative;
  perspective: 600px;
}
.T4 {
  background: var(--maincolor3);
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100px,-100px);
  border-bottom: 5px solid var(--maincolor4);
}
.T4::after {
  content: "Elzero";
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 17px;
  padding: 10px;
  position: absolute;
  bottom: -5px;
}
.T4::before {
  content: "";
  position: absolute;
  height: 69%;
  width: 69%;
  background-color: var(--maincolor4);
  border-right: 5px solid white;
  border-bottom: 5px solid white;
  transform: rotate(44.5deg);
  top: -69px;
  left: 29px;
}
.T5 {
  width: 200px;
  height: 200px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-100px,-100px);
  transform-style: preserve-3d;
  transition: transform 1s;
  font-weight: bold;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
.T5::before {
  content: "Front";
  position: absolute;
  background-color: #fa3664;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.T5::after {
  content: "Back";
  position: absolute;
  background-color: #0075ff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  backface-visibility: hidden;
  transform: rotatey(-180deg);
}
.T5:hover {
  transform: translate(-100px,-100px) rotatey(-180deg);
}

